:root {
  --white: #fff;
  --grey: #eeeeee;
  --black: #1d1d1f;
  --pink: #fe3f5a;
  --orange: #fe8356;
  --background: #fea956;
  --gardient: linear-gradient(54deg, #fea956 35%, #fe3f67 100%);
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  color: var(--black);
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: #f9f9fa;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Wrapper */

.wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 30px;
  max-width: 600px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
  transform: translateY(50%);
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.075);
}
