:root {
  --white: #fff;
  --light-grey: #eeeeee;
  --medium-grey: #d1d1d1;
  --black: #252525;
  --pink: #fe3f5a;
  --orange: #fe8356;
  --background: #fea956;
  --gardient: linear-gradient(54deg, #fea956 35%, #fe3f67 100%);
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  color: var(--black);
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: #f9f9fa;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.line {
  background: var(--light-grey);
  width: 100%;
  height: 1px;
}

::placeholder {
  color: var(--medium-grey);
}
/* Wrapper */

.wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  max-width: 600px;
  padding: 30px 10px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--white);
  transform: translateY(50%);
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.075);
}

/* Logo */

.logo {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.logo h1 {
  padding-bottom: 30px;
  font-size: calc(35 / 16 * 1rem);

  background: -webkit-linear-gradient(54deg, #fea956 35%, #fe3f67 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Total Calories*/

.calories {
  width: 100%;
  padding: 30px 0;
  max-width: 500px;
  text-align: center;
}
.calories h2 {
  padding-bottom: 30px;
}
/* Card Input */

.card-input {
  width: 100%;
  display: flex;
  padding: 30px 0;
  text-align: center;
  position: relative;
}

.card-input input {
  width: 100%;
  border: none;
  outline: none;
  margin: 0 20px;
  max-width: 230px;
  position: relative;
  transition: all 0.3s ease;
  color: var(--black);
  font-size: calc(18 / 16 * 1rem);
  border-bottom: 2px solid var(--medium-grey);
}

.card-input input:focus,
.card-input input:not(:placeholder-shown) {
  border-image-slice: 1;
  transition: all 0.3s ease;
  border-bottom: 2px solid;
  border-image-source: linear-gradient(54deg, #fea956 35%, #fe3f67 100%);
}
